page-subjects {
    
    ion-auto-complete {
        width: 100%;
        
        ul {
            position: relative;
            left: 0px;
            box-shadow: none !important;
            -webkit-box-shadow: none !important;
            border-bottom: 1px solid #ccc;
            
            li {
                border-bottom: 0px !important;
            }

        }

    }

}
